In [247]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import warnings
from sklearn import tree
!pip install graphviz
import graphviz
import numpy as np
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import seaborn as sns
from sklearn.linear_model import LinearRegression

warnings.filterwarnings("ignore")

WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
Requirement already satisfied: graphviz in /opt/conda/lib/python3.11/site-packages (0.20.3)
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'

- decision tree based on factors that make you likely to find it difficult to meet financial needs - classification
- research question:  the effects of productivity pay gap in the region of canada
- exploratory data analysis on difficulty
- regression task: inflation and CPI
- bootstrapping:- resampling and multiple random forests
- cross validation for regression(?)

In [248]:
difficulty=pd.read_csv("Difficulty2.csv")
difficulty=difficulty.drop(np.arange(0,8))
difficulty=difficulty.drop(np.arange(190,223))
difficulty=difficulty.drop(difficulty.columns[0],axis=1)
difficulty.rename(columns=dict(zip(difficulty.columns, difficulty.loc[8])), inplace=True)
difficulty=difficulty.drop([8,9])
difficulty=difficulty.reset_index().drop("index",axis=1)
difficulty=difficulty.fillna(method="ffill")
difficulty=difficulty.rename(columns={difficulty.columns[4]:"Percentage"})
difficulty=difficulty.drop("Reference period",axis=1)
total_groups=difficulty[difficulty.columns[1]].unique()
age_group=total_groups[1:5]
immigrant_group=total_groups[6:8]
total_groups
immigrant_group
age=difficulty[difficulty["Sociodemographic characteristics"].isin(age_group)].reset_index().drop("index",axis=1)

In [249]:
age_classes=age.iloc[age.groupby(["Gender","Sociodemographic characteristics"])["Percentage"].idxmax()]
age_classes_encoded = pd.get_dummies(age_classes, columns=['Gender', 'Sociodemographic characteristics'])
X = age_classes_encoded.drop(columns=['Indicators',"Percentage"])
y = age_classes_encoded['Indicators']
logistic_regression_model = LogisticRegression()
logistic_regression_model.fit(X, y);

In [250]:
predictions = logistic_regression_model.predict(X)
predictions
X=X.reset_index().drop("index",axis=1)
X.loc[0]

predictions = logistic_regression_model.predict(X.loc[[0]])
predictions
X.loc[[0]]

individual_sample_to_predict = [[True,False,True,False,False,False]]  # Example values
prediction_individual_sample = logistic_regression_model.predict(individual_sample_to_predict)
prediction_individual_sample
X

,Gender_Men,Gender_Women,Sociodemographic characteristics_15 to 24 years,Sociodemographic characteristics_25 to 54 years,Sociodemographic characteristics_55 to 64 years,Sociodemographic characteristics_65 years and over
0,True,False,True,False,False,False
1,True,False,False,True,False,False
2,True,False,False,False,True,False
3,True,False,False,False,False,True
4,False,True,True,False,False,False
5,False,True,False,True,False,False
6,False,True,False,False,True,False
7,False,True,False,False,False,True

In [251]:
logistic_regression_model.predict([[True,False,False,False,False,True]])

array(['Easy or very easy for household to meet financial needs 4'],
      dtype=object)

,Gender,Sociodemographic characteristics,Indicators,Percentage
0,Men,15 to 24 years,Very difficult or difficult for household to m...,24.8
1,Men,15 to 24 years,Neither difficult nor easy for household to me...,34.7
2,Men,15 to 24 years,Easy or very easy for household to meet financ...,40.5
3,Men,25 to 54 years,Very difficult or difficult for household to m...,39.3
4,Men,25 to 54 years,Neither difficult nor easy for household to me...,35.9
5,Men,25 to 54 years,Easy or very easy for household to meet financ...,24.8
6,Men,55 to 64 years,Very difficult or difficult for household to m...,34.3
7,Men,55 to 64 years,Neither difficult nor easy for household to me...,36.7
8,Men,55 to 64 years,Easy or very easy for household to meet financ...,29
9,Men,65 years and over,Very difficult or difficult for household to m...,25.4
10,Men,65 years and over,Neither difficult nor easy for household to me...,35.3
11,Men,65 years and over,Easy or very easy for household to meet financ...,39.3
12,Women,15 to 24 years,Very difficult or difficult for household to m...,26.4
13,Women,15 to 24 years,Neither difficult nor easy for household to me...,35.9
14,Women,15 to 24 years,Easy or very easy for household to meet financ...,37.7
15,Women,25 to 54 years,Very difficult or difficult for household to m...,40.3
16,Women,25 to 54 years,Neither difficult nor easy for household to me...,35
17,Women,25 to 54 years,Easy or very easy for household to meet financ...,24.6
18,Women,55 to 64 years,Very difficult or difficult for household to m...,31.6
19,Women,55 to 64 years,Neither difficult nor easy for household to me...,37.2
20,Women,55 to 64 years,Easy or very easy for household to meet financ...,31.2
21,Women,65 years and over,Very difficult or difficult for household to m...,23
22,Women,65 years and over,Neither difficult nor easy for household to me...,36.6
23,Women,65 years and over,Easy or very easy for household to meet financ...,40.4